@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Starborn";
  src: url("../public/fonts/Starborn.ttf?display=swap");
  src: url("../public/fonts/Starborn.ttf?display=swap") format("truetype"),
    url("../public/fonts/Starborn.woff?display=swap") format("woff"),
    url("../public/fonts/Starborn.woff2?display=swap") format("woff2");
  font-weight: normal;
  font-style: normal;
  display: swap;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #718096;
}

::-webkit-scrollbar-track {
  background-color: #cbd5e0;
}
